body {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: larger;
	background-color: rgb(0, 0, 0);
	text-align: center;
}

header {
	margin-top: 20px;
	height: 380px;
	color: rgb(255, 255, 255);
	background-color: rgb(0, 0, 0);
	text-align:flex ;
}

main {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-around;
	padding: 20px;
	flex-wrap: wrap;
	text-align: center;
}

.box {
	width: 400px;
	height: 689px;
	background-color: #000000;
	border-radius: 30px;
	padding: 20px;
	color: #ffffff;
	border-style: inherit;
	margin-bottom: 100px;

}

.box:hover {
	box-shadow: 10px 10px 40px rgb(255, 255, 255);
}

.box h2 {
	margin: 0 0 10px 0;
	padding: 0;
}

.box figure {
	width: 300px;
	height: 358px;
	padding-top: 10px;
	text-align: center;
	margin: auto;
}


.box p {
	text-align: center;
}

footer {
	background-color: rgb(0, 0, 0);
	height: 50px;
	padding-top: 10px;
	color: rgb(255, 255, 255);
	text-align: center;
}

header img {
	width: 280px;
	height: 280px;

}